:root {
  --bg: #121212;
  --gray: #3a3a3a;
  --blue: #20d5ec;
  --text-white: #e7e7e7;
  --footer-bg: #252525;
}

html,
body {
  height: 100%;
}

body {
  max-width: 500px;
  margin: auto;
  height: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@font-face {
  font-family: "tiktok";
  src: url("./font/TikTokDisplay-Regular.ttf") format("woff2"),
    url("./font/TikTokText-Bold.ttf") format("woff"),
    url("./font/TikTokText-Medium.ttf") format("truetype"),
    url("./font/TikTokText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--bg);
  font-family: "tiktok";
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
  padding: 0 20px;
}

.title {
  position: absolute;
  left: 53%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  color: var(--text-white);
  font-weight: 600;
  font-size: 18px;
}

.title img {
  background: var(--bg);
  width: 25px;
  height: 25px;
  stroke: none !important;
}

.settings-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.settings-block img {
  object-fit: cover;
}

.visitors {
  position: relative;
}

.visitors img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.visitors::after {
  position: absolute;
  content: "99";
  color: var(--text-white);
  bottom: 0px;
  font-size: 12px;
  right: -5px;
  font-weight: 900;
}

.burger-menu img {
  width: 26px;
  height: 26px;
}

main {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-img {
  width: 120px;
  position: relative;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.add {
  position: absolute;
  background: var(--blue);
  width: 26.6px;
  height: 26.6px;
  border-radius: 50%;
  bottom: -2px;
  right: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px var(--bg) solid;
  box-sizing: content-box;
}

.thought {
  position: absolute;
  width: 95px;
  height: 40px;
  background: var(--gray);
  top: -22px;
  left: 67%;
  border-radius: 15px;
  transform: translate(-50%);
  color: #b0b0b0;
  font-weight: 500;
}

.username {
  color: #dddddd;
  font-weight: 500;
  margin-top: 12px;
  font-size: 19px;
}

.engagement-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 21px;
}

.engagement-block div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.static {
  color: var(--text-white);
  font-weight: 600;
  font-size: 18px;
}

.label {
  color: var(--text-white);
  opacity: 0.5;
}

.engagement-block div {
  position: relative;
}

.engagement-block div span {
  width: 0.2px;
  height: 17px;
  background: var(--text-white);
  opacity: 0.15;
  position: absolute;
  right: -20px;
}

.main-buttons-block {
  margin-top: 14px;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 5px;
}

.main-buttons-block button {
  color: var(--text-white);
  font-weight: 600;
  background: var(--gray);
  padding: 10px 26px;
  border-radius: 7px;
}

.add-person {
  padding: 10px 10px !important;
}

.main-buttons-block button img {
  width: 24px;
  height: 24px;
}

.bio,
.bio div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  color: var(--text-white);
  gap: 10px;
}

.bio div {
  gap: 0px;
}

.link {
  display: flex;
  align-content: center;
  gap: 5px;
}

.link img {
  width: 22px;
  height: 22px;
}

.socails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
}

.socails div {
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--text-white);
}

.socails div img {
  width: 18px;
  height: 18px;
}

.social-block {
  position: relative;
}

.social-link {
  text-decoration: none;
  color: inherit;
  display: flex;
}
.socails span {
  width: 0.2px;
  height: 15px;
  background: var(--text-white);
  opacity: 0.15;
  position: absolute;
  right: -10px;
}

.tools-bar {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 54px;
}

.tools-bar img {
  width: 28px;
  height: 28px;
}

.tools-bar .active {
  position: relative;
}

.tools-bar .active::after {
  position: absolute;
  content: "";
  width: 140%;
  height: 2.5px;
  background: var(--text-white);
  left: 50%;
  transform: translate(-50%);
  bottom: -4px;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 4px;
}

section .video-block {
  width: 100% !important;
  height: 200px;
  position: relative;
}

section .video-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
section .video-block span {
  position: absolute;
  color: var(--text-white);
  background: #fe2c55;
  border-radius: 4px;
  padding: 1.5px 7px;
  font-size: 14px;
  z-index: 10;
  top: 8px;
  left: 6px;
}

.played {
  position: absolute;
  bottom: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text-white);
  font-size: 13px;
  font-weight: 500;
}

.played img {
  width: 20px;
  height: 20px;
}

footer {
  background: var(--footer-bg);
  max-width: 500px;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 200;
}

footer button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}

footer button p {
  color: #ffffff80;
  font-size: 12px;
  padding-left: 1px;
}

footer button img {
  width: 35px;
  height: 35px;
}

.ppf {
  width: 27px;
  height: 34px;
}

.tiktok-logo {
  position: relative;
  width: 46px;
  height: 34px;
  background: #fff;
  border-radius: 12px;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiktok-logo img {
  width: 24px;
  height: 24px;
}
.red {
  position: absolute;
  background: #fa2d6c;
  z-index: 0;
  transform: translate(-19px);
}

.blue {
  position: absolute;
  background: #20d5ec;
  z-index: 0;
  transform: translate(-27px);
}
